/* Posting 페이지에 대한 추가 CSS 스타일링 */

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:linen;
  }
  
  .container {
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    max-width: 100%;
  }
  
  .title{
    width: 90%;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .content{
    width: 90%;
    height: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    .button-container Button:first-child {
      margin-right: 10px; 
  }
  
  .button-container Button:last-child {
      margin-right: 10px; 
  }
}
  